*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Raleway', sans-serif;
    background: rgba(16, 14, 29, 1);

}



/* SEARCH */
.searchFond{
    width: 375px;
    height: 672px;
    background: rgba(30, 33, 58, 1);
    

}


.search{
    background-color: none;
    width: 348px;
    height: 48px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#buttonSearch{
    width: 100px;
    height: auto;
    background-color: blue;
    color: white;
    cursor: pointer;
   
}


#searchStyle{
    width: 230px;
    height: auto;
    border: 1px solid rgba(231, 231, 235, 1);
    padding: 20px;
    background: rgba(255, 255, 255, 0.342);
    color: 1px solid rgb(149, 149, 155);
    font-size: 18px;
}



/* FIRSCONTAINER */

.firstContainer{
    width: 375px;
    height: 810px;
    background: rgba(30, 33, 58, 1);
    color: white;
    overflow: hidden;
    

}

/* navBar */


.searchGroup{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    justify-content: space-between;
    
}

.buttonSearch{
    width: 140px;
    height: 40px;
    background: rgba(110, 112, 122, 1);
    color: rgb(188, 188, 194);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
   
}



#containerLocation{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(110, 112, 122, 1);
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}


#mylocation{
    width: 30px;
    height: 30px;
    
}


/* FOND_CLOUD */


.climeImage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#cloudBackground{
    opacity: 0.04;
    width: 563.5638427734375px;
    height: 326px;
    position: relative;
    
   
}
#shower{
    width: 150px;
    height: auto;
    position: absolute;
  
}

/* TEXT_FRONTED */


.boxshowerText{
    width: 100%;
    height: auto;
   
}
.centigradsText{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: rgba(231, 231, 235, 1);
  
}

.showerText{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px;
    color: rgba(160, 159, 177, 1);

}

.footerToday{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

}
.footerToday > p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: flex;
    color: rgba(136, 134, 157, 1);
    padding: 10px;

}

.footerIconText{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: rgba(136, 134, 157, 1);
    font-family: 'Raleway', sans-serif;

}
/* Second Section */
.secondContainer{
    width: 375px;
    height: 1718px;
    background-color: rgb(18, 16, 32);
    
}
.days{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
    

}

/* day1 */

.day1{
    width: 120px;
    height: 177px;
    background: rgba(30, 33, 58, 1);
}
.day1 p {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.container-Cloud{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#cloud-img{
    margin: 5px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.max-min-grad-text{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/* day2 */


.day2{
    width: 120px;
    height: 177px;
    background: rgba(30, 33, 58, 1);
}
.day2 p {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.container-Cloud{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#cloud-img{
    margin: 5px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.max-min-grad-text{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/* day3 */
.day3{
    width: 120px;
    height: 177px;
    background: rgba(30, 33, 58, 1);
}
.day3 p {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.container-Cloud{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#cloud-img{
    margin: 5px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.max-min-grad-text{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/* day4 */
.day4{
    width: 120px;
    height: 177px;
    background: rgba(30, 33, 58, 1);
}
.day4 p {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.container-Cloud{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#cloud-img{
    margin: 5px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.max-min-grad-text{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/* day5 */
.day5{
    width: 120px;
    height: 177px;
    background: rgba(30, 33, 58, 1);
}
.day5 p {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.container-Cloud{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#cloud-img{
    margin: 5px;
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.max-min-grad-text{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
}




/* TextoInferior */
.hightlightsTex{
    width: 100%;
    height: auto;
    border: 1px solid rgb(219, 209, 209);

}
.hightlightsText >h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: rgba(231, 231, 235, 1);
    padding-left: 20px;

}

/* boxtext */
.boxTempt{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
    
}

/* temp1 */


.temp1{
    width: 328px;
    height: 204px;
    background: rgba(30, 33, 58, 1);
    color: rgba(231, 231, 235, 1);
   
}

.temp1 >p {
    background: rgba(30, 33, 58, 1);
    color: rgba(231, 231, 235, 1);
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding: 20px;
    
}

.windText-Central{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 35px;
    padding: 10px;
    

}

.temp1 >h2 {
    background: rgba(30, 33, 58, 1);
    color: rgba(231, 231, 235, 1);
   
}

.flechaGroup{
    display: flex;
    justify-content: center;
    text-align: center;
   

}

#iconFlecha{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
    
    
}
#iconFlecha >h5{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}



/* temp2 */

.temp2{
    width: 328px;
    height: 204px;
    
    background: rgba(30, 33, 58, 1);
    
   
}

.temp2 >p {
    
    color: rgba(231, 231, 235, 1);
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding: 20px;
    
}

.windText-Central{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 35px;
    padding: 10px;
    color: rgba(231, 231, 235, 1);
    

}

.temp2 >h2 {
    
    color: rgba(231, 231, 235, 1);
   
}

/* temp3 */

.temp3{
    width: 328px;
    height: 159px;
    background: rgba(30, 33, 58, 1);
    
   
}

.temp3 >p {
    
    color: rgba(231, 231, 235, 1);
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding: 20px;
    
}

.windText-Central{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 35px;
    padding: 10px;
    color: rgba(231, 231, 235, 1);
    

}

.temp3 >h2 {
    
    color: rgba(231, 231, 235, 1);
   
}

/* temp4 */


.temp4{
    width: 328px;
    height: 159px;
    background: rgba(30, 33, 58, 1);
   
   
}


.temp4 >p {
    
    color: rgba(231, 231, 235, 1);
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding: 20px;
    
}

.windText-Central{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    padding: 10px;
    color: rgba(231, 231, 235, 1);
    
}

.temp4 >h2 {
    
    color: rgba(231, 231, 235, 1);
   
}


/* ERROR CITY NAME */
.error{
    color: rgb(238, 107, 107);
    text-align: left;
    margin-left: 10px;
}


/* vistaDeEscritorio............. */






.principalContainer{
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(350px, 1fr)
        );
       gap: 32px 
} 







/* @media screen and (max-width: 1440px){
    .principalContainer{
        display: flex;
        display: grid;
        width: 100%;
    }
    
 
 
    
}  */


/* @media screen and (max-width: 375px){
    
 
 
    
}  */